/*--------------------------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  font-style: normal;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------------------------*/
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: brown;
  height: 100px;
  position: sticky;
}
.main {
  flex: 1 1 auto;
  background-color: yellow;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(
      to right,
      rgba(173, 29, 72, 0.4),
      rgba(155, 16, 58, 0.4)
    ),
    url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.aside-wrapper {
  display: flex;
  justify-content: flex-start;
}
.sidebar {
  position: sticky;
  top: 100px;
  background-color: aqua;
  padding: 20px;
  max-width: 30%;
  margin: 10px;
}
.article {
  padding: 20px;
}
.footer {
  background-color: brown;
  height: 100px;
}
